$pl-yellow: #f6ddaa;
$pl-beige: #ede4d3;
$pl-red: #83001b;
$pl-red-half-opacity: #83001b80;
$pl-gray: #585854;
$pl-gray-half-opacity: #58585480;
$pl-light_gray: #7e8389;
$pl-orange: #f07037;
$pl-white: #fff;

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1140px;
$viewport--xl: 1440px;
$viewport--xxl: 1920px;
